# Copy this file to .env and fill in the values for local run

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/cinema_booking_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
SERVER_PORT=8080
SSL_ENABLED=false
SSL_KEY_STORE_PASSWORD=MyPassword1!
